<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include templates/header.ejs %>

    <h3><%= title %></h3>

    <p>Hi i'm <%= name %>, i'm just trying to learn node lol.</p>
</body>
</html>
